{{#each items}}
<div class="item">
    <ul>
        <li><strong>Name:</strong> {{this.name}}</li>
        <li><strong>Page:</strong> {{this.page}}</li>
        <li><strong>Title:</strong> {{this.title}}</li>
        <li><strong>Category:</strong> {{this.category}}</li>
        <li><strong>Text: </strong>{{this.text}}</li>
        <li><strong>imgurl:</strong> {{this.imgurl}}</li>
    </ul>
</div>
</br>
{{/each}}